manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
}

process.container = 'nextflow/rnatoy:peerj5515'


trace { 
    enabled=true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,rss,vmem,peak_rss,peak_vmem,rchar,wchar,duration:num,realtime:num,rss:num,vmem:num,peak_rss:num,peak_vmem:num,rchar:num,wchar:num,syscr,syscw,read_bytes:num,write_bytes:num'

}


profiles {
    standard { 
        params.pair1 = 'data/*_sub_1.fastq.gz'
        params.pair2 = 'data/*_sub_2.fastq.gz'    
        params.annot = 'data/mm65.long.ok.gtf'
        params.genome = 'data/mouse_genome_mm9.fa'

        process.time = '8h'
        process.$mapping.cpus = 8
        process.$makeTranscript.cpus = 8 
    }

    s3data {
        params.pair1 = 's3://cbcrg-eu/rnatoy-mouse/*_sub_1.fastq.gz'
        params.pair2 = 's3://cbcrg-eu/rnatoy-mouse/*_sub_2.fastq.gz'    
        params.annot = 's3://cbcrg-eu/rnatoy-mouse/mm65.long.ok.gtf'
        params.genome = 's3://cbcrg-eu/rnatoy-mouse/mouse_genome_mm9.fa'

        process.time = '8h'
        process.$mapping.cpus = 8
        process.$makeTranscript.cpus = 8 
        aws.socketTimeout = 120000
        aws.connectionTimeout = 90000
    }

    test { 
        params.pair1 = "$baseDir/data/ggal/*_1.fq"
        params.pair2 = "$baseDir/data/ggal/*_2.fq"
        params.annot = "$baseDir/data/ggal/ggal_1_48850000_49020000.bed.gff"
        params.genome = "$baseDir/data/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    }
}
