manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
}

process {
  $index.container = 'quay.io/biocontainers/salmon:0.8.2--1'
  $quant.container = 'quay.io/biocontainers/salmon:0.8.2--1'
  $multiqc.container = 'quay.io/biocontainers/multiqc:1.0--py35_4'
  $fastqc.container = "genomicpariscentre/fastqc"
}

docker.enabled = true

profiles {
  s3test {
    params.reads = "s3://cbcrg-eu/ggal/*_{1,2}.fq"
    params.annot = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.bed.gff"
    params.genome = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
  }
}
